@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&family=Open+Sans:wght@500&display=swap");

$primary-font: "Fira Sans", sans-serif;

* {
  background-color: #212529;
}

body {
  margin: 20px;
  background: linear-gradient(45deg, #0a0a0a, #717377);
}
.calculator {
  margin: 10px;
  padding: 20px;
  border: 1px solid #717377;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
    "input input input input"
    "input input input input"
    "AC plusminus percent divide "
    "seven eight nine multiply "
    "four five six substract  "
    "one two three plus       "
    "zero zero dot equals     ";

  .numberInput {
    font-weight: bold;
    font-size: 36px;
    color: lightblue;
    grid-area: input;
  }
  .number {
    &__ac {
      grid-area: AC;
    }
    &__0 {
      grid-area: zero;
    }
    &__1 {
      grid-area: one;
    }
    &__2 {
      grid-area: two;
    }
    &__3 {
      grid-area: three;
    }
    &__4 {
      grid-area: four;
    }
    &__5 {
      grid-area: five;
    }
    &__6 {
      grid-area: six;
    }
    &__7 {
      grid-area: seven;
    }
    &__8 {
      grid-area: eight;
    }
    &__9 {
      grid-area: nine;
    }
    &__dot {
      grid-area: dot;
    }
  }
  .operation {
    &__plus {
      grid-area: plus;
    }
    &__minus {
      grid-area: substract;
    }
    &__divide {
      grid-area: divide;
    }
    &__multiply {
      grid-area: multiply;
    }
    &__percent {
      grid-area: percent;
    }
    &__changeSign {
      grid-area: plusminus;
    }
    &__equals {
      grid-area: equals;
    }
  }
}

button {
  box-shadow: -5px -5px 10px gray;
  padding: 25px;
  border-radius: 80px;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
}

button:hover {
  background-color: aliceblue;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: $primary-font;
  color: #3a86ff;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
